h1{ color: #4D1B19;
    font-family: "Great Vibes", cursive;
    font-size: 165px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
body{
    background-color: #F0DDD1;
}

h3{
    font-family: "Georgia";
    font-size:100px ;
}